$bg_primary: #000000;
$bg_grey: #303030;
$bg_overlay: rgb(19, 10, 6, 0.65);

$text_primary: #FFFFFF;
$text_grey: #737373;
$placeholder: #8c8c8c;

$err_outline: hsl(37, 100%, 52%);

$divider: #222222;

$btn_base: #e50914;
$btn_hover: rgb(248, 6, 18);

$container-width-lg: min(100% - 2.85rem, 1235px)